
 body {
      background-color: white;
     }
    
    h1 {
        text-align: center;
        }
    
    #red {
        color: red;
        }
    #blue {
        color: blue;
        }
    
    p, li {
          font-size: 24px;
          font-family: cursive;
        }